/*
0 - 600 px:     Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
1200 - 1800px:  Normal desktop that our styles apply to
1800px +"       Big desktops
*/
/*  @mixin  respond-phone {
    @media only screen and (max-width:37.5em) { @content };
}
*/
* {
  padding: 0;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 175em) {
    html {
      font-size: 62.5%; } }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }

body {
  box-sizing: border-box;
  font-family: "lato", sans-serif;
  line-height: 1.6;
  font-weight: 400;
  min-height: 100vh;
  background-image: linear-gradient(to right, rgba(0, 4, 40, 0.76), rgba(0, 78, 146, 0.88)), url(../img/hills7.jpg);
  background-size: cover;
  background-position: center; }

::selection {
  background-color: #f2f2f2;
  color: #4d4d4d; }

@keyframes pulsate {
  0% {
    transform: scale(1);
    opacity: 0; }
  50% {
    transform: scale(1.2);
    box-shadow: 0 1rem 4rem rgba(0, 0, 0, 0.4);
    opacity: 1; }
  100% {
    transform: scale(1.2);
    opacity: 0; } }

@keyframes moveInLeft {
  0% {
    opacity: 0;
    transform: translateX(-50rem); }
  80% {
    opacity: 1;
    transform: translateX(1rem); }
  100% {
    transform: translateX(0); } }

@keyframes moveInRight {
  0% {
    opacity: 0;
    transform: translateX(30rem); }
  80% {
    opacity: 1; }
  100% {
    opacity: 1;
    transform: translateX(0); } }

.container {
  background-color: transparent;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }

/**********navigation****************/
.navigation {
  color: white; }
  .navigation__list {
    list-style: none;
    display: flex;
    justify-content: flex-end;
    padding: 3rem; }
    @media screen and (max-width: 37.5em) {
      .navigation__list {
        padding: 1rem 0 0 0; } }
  .navigation__item {
    text-transform: capitalize; }
  .navigation__link:link, .navigation__link:visited {
    padding: 1rem 2rem;
    font-size: 1.8rem;
    font-weight: 300;
    color: #f2f2f2;
    text-decoration: none;
    display: inline-block;
    border-radius: 2rem;
    transition: all .5s;
    background-image: linear-gradient(120deg, transparent 0%, transparent 50%, #f2f2f2 50%);
    background-size: 230%; }
    .navigation__link:link:hover, .navigation__link:visited:hover {
      background-position: 100%;
      color: #4d4d4d;
      transform: scale(1.1);
      box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); }
    .navigation__link:link:active, .navigation__link:visited:active {
      transform: translateY(5px); }
      @media only screen and (max-width: 56.25em) {
        .navigation__link:link:active, .navigation__link:visited:active {
          transform: translateY(2px); } }
  .navigation:hover .navigation__link:not(:hover) {
    transform: scale(0.8); }

/**********text box****************/
.text-box {
  flex: 0 0 50%;
  align-self: center; }
  .text-box__text {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
    transition: all .3s; }
    .text-box__text--main {
      font-size: 2rem;
      font-weight: 300;
      text-transform: uppercase;
      letter-spacing: 2rem;
      text-align: center;
      animation: moveInLeft 4s;
      background-image: linear-gradient(to bottom, #f2f2f2, #808080);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
      @media only screen and (max-width: 56.25em) {
        .text-box__text--main {
          font-size: 1.8rem;
          letter-spacing: 1.6rem; } }
      @media screen and (max-width: 37.5em) {
        .text-box__text--main {
          font-size: 1.5rem;
          letter-spacing: 1rem; } }
    .text-box__text--sub {
      font-size: 1.8rem;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 2rem;
      text-align: center;
      animation: moveInRight 3s;
      background-image: linear-gradient(to top, #f2f2f2, #808080);
      -webkit-background-clip: text;
      background-clip: text;
      color: transparent; }
      @media only screen and (max-width: 56.25em) {
        .text-box__text--sub {
          font-size: 1.2rem;
          letter-spacing: 1.6rem; } }
      @media screen and (max-width: 37.5em) {
        .text-box__text--sub {
          font-size: 1rem;
          letter-spacing: 1rem; } }
  .text-box__location {
    height: 50%;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; }
  .text-box__location-icon {
    width: 3rem;
    height: 3rem;
    fill: #95A5A6;
    border-radius: 50%;
    margin-bottom: 2rem;
    transition: all 1s;
    animation: pulsate 1s 6s infinite; }
  .text-box__location-text {
    font-size: 2rem;
    text-transform: capitalize;
    color: #bfbfbf; }
    .text-box__location-text:hover {
      transform: scale(1.1);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4); }

/**********social****************/
.social__list {
  list-style: none;
  display: flex;
  justify-content: space-around;
  padding: 2rem; }
  @media only screen and (max-width: 56.25em) {
    .social__list {
      padding: 1rem; } }

.social__item {
  text-transform: capitalize; }

.social__link:link, .social__link:visited {
  font-size: 1.5rem;
  text-decoration: none;
  color: transparent;
  background-image: linear-gradient(to right, #f2f2f2, #bfbfbf);
  -webkit-background-clip: text;
  background-clip: text;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: all .4s;
  border-radius: .5rem; }
  .social__link:link:hover, .social__link:visited:hover {
    transform: scale(1.1) translateY(-2px);
    box-shadow: 0 1rem 3rem rgba(0, 0, 0, 0.3); }
  .social__link:link:active, .social__link:visited:active {
    transform: translateY(5px); }
    @media only screen and (max-width: 56.25em) {
      .social__link:link:active, .social__link:visited:active {
        transform: translateY(2px); } }

.social:hover .social__link:not(:hover) {
  transform: scale(0.8); }

.social__icon {
  height: 2rem;
  width: 2rem;
  fill: #95A5A6; }

.social__text {
  margin-top: .7rem; }
